<section class="wrapper" id="wrapper">
    <div class="flex w-full h-full start">
        <div class="flex-column h-full w-quarter between">
            <div class="flex-column card w-full">
                <div class="profile">
                    <img src="https://images.unsplash.com/photo-1650173419393-a3d85d494399?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60u"
                        alt="" srcset="" class="avatar">
                </div>
                <div class="p-md">
                    <span>@username</span>
                </div>

            </div>

            <div class="flex w-full md:flex-column">
                <div class="card">
                    34 Repos
                </div>
                <div class="card primary">
                    34 Followers
                </div>
                <div class="card">
                    34 Stars
                </div>
            </div>
            <div class="about">
                <h4>About</h4>
                <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quas fugiat nesciunt
                    velit. Accusamus ab
                    vero consectetur repudiandae doloribus magni?</p>
            </div>

            <button class="btn btn-primary">View Profile</button>

        </div>
        <div class="flex-column w-three-quarters h-full start ">
            <div class="w-three-quarters">
                <div class="flex">
                    <input class="search">
                    <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>