<div class="flex-column start h-full p-sm">

    <div class="flex-column card w-full gradient">
        <div class="profile">
            <img src="{{user.avatar_url}}" alt="" srcset="" class="avatar">
        </div>
        <div class="p-md text-center">
            <p>{{user.name}} </p>
            <p>@{{user.login}}</p>
            <p>Joined {{user.created_at | dateformat}}</p>
        </div>

    </div>

    <div class="flex w-full sm-wrap md-wrap">
        <div class="card">
            {{user.public_repos}} Repos
        </div>
        <div class="card primary">
            {{user.followers}} Followers
        </div>
        <div class="card">
            {{user.public_gists}} Gists
        </div>
    </div>
    <div class="about">
        <h4>About</h4>
        <p class="light">{{
            user.bio
            }}
        </p>
    </div>

    <button class="btn btn-primary" (click)="openLink(user)">View Profile</button>

</div>