/* Import FontAwesome From CDN */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/* Import Font Nunito */
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);

/* Import MediaQueries */
@import url(./media-queries.css);

/* Variables */
:root {
  --primary-color: #dc3026;
  --secondary-color: #eeeff0;
}

/* Reset  */
html,
body,
div,
span,
applet,
object,
iframe {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* Padding */
.p-xl {
  padding: 10rem;
}
.p-lg {
  padding: 5rem;
}
.p-md {
  padding: 3rem;
}
.p-sm {
  padding: 1rem;
}

/* Margin */
.m-xl {
  margin: 10rem;
}
.m-lg {
  margin: 5rem;
}
.m-md {
  margin: 3rem;
}
.m-sm {
  margin: 1rem;
}

/* Displays */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.wrap {
  flex-wrap: wrap;
}
/* Display Alignments */
.start {
  justify-content: start !important;
}

.center {
  justify-content: center;
}
.end {
  justify-content: flex-end;
}
.around {
  justify-content: space-around !important;
}
.between {
  justify-content: space-between !important;
}

.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

/* Colors */
.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--primary-blue);
}

/* Buttons */
.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
  opacity: 0.8;
  color: #eeeff0;
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Widths */
.w-quarter {
  width: 25%;
}
.w-half {
  width: 50%;
}
.w-three-quarters {
  width: 75%;
}
.w-full {
  width: 100%;
}

/* Heights */
.h-quarter {
  height: 25%;
}
.h-half {
  height: 50%;
}
.h-three-quarters {
  height: 75%;
}
.h-full {
  height: 100% !important;
}

/* Cards and Containers */
.card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

/* Misc */
.container {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
.wrapper {
  max-width: 100%;
  margin: 0 20px;
  max-height: 100%;
  height: 100vh;
}
.profile {
  width: 100px;
  height: 100px;
}
.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
}
.about {
  margin: 0 auto;
  text-align: center;
}
.search {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  border: 4px solid var(--secondary-color);
}
