<div class="flex-column between p-sm">
    <div class="w-three-quarters">
        <div class="flex">
            <input class="search">
            <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="container">
        <h4>Repositories - 45</h4>
        <div class="flex wrap between">
            <div class="card w-quarter" *ngFor="let i of [1,2,3,4,5,6,8,9,90,68]">
                <div class="flex-column">
                    <div class="flex-column w-tfull">
                        <h5>Repo Name</h5>
                        <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quas
                            fugiat
                            nesciunt velit. Accusamus ab vero consectetur repudiandae doloribus magni?</p>
                    </div>
                    <div class="flex w-100 between">
                        <div class="primary">
                            34 Forks
                        </div>
                        <div class="secondary">
                            34 Stars
                        </div>
                        <button class="btn btn-primary">
                            Select
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>