<div class="flex-column between p-sm">
    <div class="w-three-quarters">
        <div class="flex">
            <input class="search" name="search" [(ngModel)]="search" appValidation>
            <div *ngIf="search.length > 1">
                <button class="btn btn-secondary" (click)="setUsername()"><i class="fa fa-search"></i></button>
            </div>

        </div>
    </div>
    <div class="container">
        <h4>Repositories - {{repos.length}}</h4>
        <div class="flex wrap between">
            <div class="card w-quarter" *ngFor="let repo of repos">
                <div class="flex-column">
                    <div class="flex-column w-tfull">
                        <h5>{{repo.name.toUpperCase()}}</h5>
                        <p class="about">{{repo.description}}</p>
                    </div>
                    <div class="flex w-100 between">
                        <div class="primary">
                            {{repo.forks}} Forks
                        </div>
                        <div class="secondary">
                            {{repo.watchers}} Stars
                        </div>
                        <button class="btn btn-primary">
                            Select
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>